/* General CSS from template */

body {
    background: #DDDDDD;
}

.navbar {
    background-color: #800000;
    color: white;
    
}

.navbar-brand {
    justify-content: center
}

.dropdown-menu-right {
    left: -128px;
}

.page-container {
    margin-top: 75px;
}

/* Should work for all forms with this class */
.custom-file-control, .form-control, 
.is-focused .custom-file-control, 
.is-focused .form-control {
    background-image: linear-gradient(0deg,#800000 2px,rgba(0,150,136,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0);
}

.btn, 
.is-focused .bmd-label-floating{
    color: #800000;
}

/* Home Page */
#mainPage {
    display: grid;
    justify-content: center;
}

#mainTitle {
    font-size: 2em;
    text-align: center;
}
#shortDescrip {
    font-size: 1em;
    font-weight: 100;
    text-align: center;
}

.monitoring-button, .map-button {
    display: grid;
    justify-content: center;
}

#dailyMonitoring, #interactiveMap {
    background-color: #800000;
    color: white;
    font-size: 1.25em;
    text-align: center;
    border-radius: 4px;
    margin: 10px 0;
    padding: 1em 1em;
}

/* Monitoring Page */
#title {
    font-size: 4em;
    font-weight: bold;
    text-align: center;
}
.button-group > button {
    font-size: 1.5em;
    padding: 10px 20px;
    margin: 0 10px;
}
.button-group {
    text-align: center;
    /* border: gray solid 5px; */
    padding: 5vw;
}
.button-group-two > button {
    font-size: 1.5em;
    padding: 10px 20px;
    margin: 0 10px;
}
.button-group-two {
    text-align: center;
    /* border: gray solid 5px; */
    padding: 5vw;
}
#reportData {
    background-color: #800000;
    color: white;
    text-align: center;
    border-radius: 4px;
    margin: 10px 0;
    padding: 1em 1em;
}
#recentData {
    background-color: #800000;
    color: white;
    text-align: center;
    border-radius: 4px;
    margin: 10px 0;
    padding: 1em 1em;
}
#personalPastReports {
    background-color: #800000;
    color: white;
    text-align: center;
    border-radius: 4px;
    margin: 10px 0;
    padding: 1em 1em;
}

/* reportDataPage */
#reportDataSubmitButton {
    background-color: #800000;
}

/* recentDataPage */
#subTitle {
    text-align: center;
}

#dateOfToday {
    font-size: 2em;
}

#dateOfTwoDaysAgo {
    font-size: 2em;
}

#dateOfYesterday {
    font-size: 2em;
}

/* Login Page Related */

#loginPage {
    display: grid;
    justify-content: center;
}

#loginPageTitle {
    color: #800000;
    font-size: 2em;
    font-weight: 500;
    text-align: center;
}

hr {
    border-top-width: 2px;
}

#roseFireButton {
    font-size: 1.25em;
    padding: 10px 15px;
    margin-top: 2em;
}


/* Map Page Related */

#map {
    width: 90vw;
    height: 60vh;
    box-shadow: 0 2px 4px rgba(34, 25, 25, 0.4);
}

#mapTitle {
    font-size: 2em;
    font-weight: 500;
    text-align: center;
}

#selectingButtons {
    display: flex;
    justify-content: center;
}

#selectingButtons button {
    margin: 5px 2px 15px;
    font-size: .68em;
    padding: .4em .3em;
}

#mapPage {
    display: grid;
    justify-content: center;
}


/* Reviews */
.card {
    margin-bottom: 5px;
}

#locationsRatingList .card-body {
    display: grid;
    grid-template-columns: auto 140px 20px;
    background-color: black;
}

#locationsRatingList .card-title {
    font-size: 1em;
    margin: 0px;
    color: white;
}

#locationsRatingList .card-rating {
    align-content: center;
}

#locationsRatingList .card-trash {
    align-content: center;
}

#locationsRatingList .favorite, #locationsRatingList .delete {
    color: white;
}

#testReviewDialog .modal-footer {
    justify-content: space-between;
}

#reviewDetails {
    display: flex;
    justify-content: space-between;
}

#fab {
    bottom: 10px;
    position: fixed;
    right: 10px;    
    z-index: 999;
}





.roseColorScheme {
    background: #800000;
    color: white;
}


@media (min-width: 576px) {
    #loginPageTitle, #mainTitle {
        font-size: 3em;
    }

    #shortDescrip {
        font-size: 1.5em;
    }

    #dailyMonitoring, #interactiveMap {
        font-size: 2em;
    }

    #submitLoginInfo {
        font-size: 2em;
    }

    #selectingButtons button {
        margin: 5px 5px 15px;
        font-size: 1.25em;
        padding: .4em .3em;
    }

    #locationsRatingList .card-body {
        grid-template-columns: auto 175px 40px;
    }

    #locationsRatingList .card-title {
        font-size: 1.25em;
        margin-right: 10px;
    }
}


@media (min-width: 768px) {    
    #loginPageTitle, #mainTitle {
        font-size: 4em;
    }

    #shortDescrip {
        font-size: 2em;
    }

    #map {
        width: 85vw;
        height: 60vh;
    }

    #mapTitle {
        font-size: 2em;
    }
    
    #selectingButtons button {
        margin: 5px 5px 15px;
        font-size: 1.5em;
        padding: .4em .3em;
    }


    #locationsRatingList .card-body {
        grid-template-columns: auto 175px 40px;
    }

    #locationsRatingList .card-title {
        font-size: 1.25em;
        margin-right: 10px;
    }
}

@media (min-width: 992px) {
    /* #map {
        width: 75vw;
        height: 60vh;
    }

    #mapTitle {
        font-size: 2em;
    }
    
    #selectingButtons button {
        margin: 5px 5px 15px;
    } */
}

