body {
    background: #DDDDDD;
}

.navbar {
    background-color: #800000;
    color: white;
    
}

.navbar-brand {
    justify-content: center
}

.dropdown-menu-right {
    left: -128px;
}

.page-container {
    margin-top: 75px;
}
